# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
.pytest_cache/

# Flask / SQLite
*.db
instance/
.flaskenv

# Env
.env

# Node
node_modules/
frontend/dist/
*.log

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
