# Flask
FLASK_ENV=development
SECRET_KEY=dev-secret-change-me

# База данных: sqlite для разработки, postgres для продакшена
# DATABASE_URL=postgresql+psycopg://user:pass@localhost:5432/keep_coin
DATABASE_URL=sqlite:///keep_coin.db

# Cookies
JWT_COOKIE_SECURE=false
JWT_COOKIE_SAMESITE=Lax